body { padding-top: 70px; }
.container-fluid {
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.navbar .glyphicon {
    font-size: 22px;
}
.navbar .navbar-nav > li > a {
    padding-top: 11px;
    padding-bottom: 11px;
    font-size: 17px;
}
.jumbotron {
    padding: 1em !important;
    margin-bottom: 0;
}
.button-panel {
    padding: 1em !important;
}

.form-group.col-lg-6,
.form-group.col-lg-6 > .col-sm-8 {
    padding-right: 0 !important;
}

form > .button-panel {
    padding-right: 3em !important;
    padding-top: 0 !important;
}

form > .button-panel > .btn {
    margin-right: 1em;
}

@media (max-width:768) {
    .navbar .glyphicon {
        vertical-align: bottom;
    }
}